[submodule "TrigonomeC"]
	path = TrigonomeC
	url = https://github.com/MauroMombelli/TrigonomeC.git
[submodule "FreeDCM"]
	path = FreeDCM
	url = https://github.com/MauroMombelli/FreeDCM.git
[submodule "Dependencies/TrigonomeC"]
	path = Dependencies/TrigonomeC
	url = https://github.com/MauroMombelli/TrigonomeC.git
[submodule "Dependencies/FreeDCM"]
	path = Dependencies/FreeDCM
	url = git@github.com:MauroMombelli/FreeDCM.git
	branch = development
